.component-contrainer{
    background-image: url(/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 1rem auto;
    width: 90%;
    text-align: center;
    border: 1px solid black;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
  }
  
  .left {
    display: flex;
    flex-direction: column;
  }
  
  .right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: auto;
    margin-left: 20px;
    height: 280px;
  }
  
  .content {
    margin-top: 10px;
  }