#container {
  margin: 10px auto;
  border: 1px solid black;
  width: fit-content;
  border-radius: 5px;
}

#field {
  margin: 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid red;
  border-radius: 5px;
  background-image: url("/src/assets/field.jpg");
}

.ball {
  border: 1px solid green;
  background-color: aqua;
  width: 80px;
  height: 80px;
  position: relative;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}