.contrainer{
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    text-align: center;
    height: 620px;
    margin: 1rem;
}
.introduce img{
    height: 400px;
    width: 300px;
}
.introduce{
    margin-left: 20px;
    border: 1px solid black;
    width: 50%;
    font-size: 18px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: fit-content;
    text-align: left;
    padding-left: 10px;
    padding-top: 10px;
}

.right-contrainer{
    border: 1px solid black;
    margin-left: 25px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: 15px;
    width: 50%;
    width: fit-content;
    text-align: left;
    padding-left: 10px;
    padding-top: 10px;
}