.temperature-variable{
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(3,1fr);
}
.temperature-contrainer{
    border: 1px solid black;
    border-radius: 0.5rem;
    padding: 0.5rem .5rem 0 .5rem;
    margin-bottom: .5rem;
    background-color: rgb(217, 210, 210);
}
.temperature-title{
    color: red;
}
.temperature-adjust{
    display: flex;
    justify-content: space-around;
}