.calculator-input{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    border: 1px solid black;
    border-radius: 0.5rem;
    padding: 10px;
    background-color: rgb(217, 210, 210);
    margin-bottom: 0.5rem;
    width: fit-content;
}

.calculator-screen{
    border: 1px solid black;
    border-radius: 0.5rem;
    padding: 10px;
    background-color: rgb(243, 242, 242);
    box-shadow: 0 0 5px black;
    margin-bottom: 0.5rem;
    width: 350px;
    text-align: end;
    font-size: 35px;
}

.calculator-keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: .75rem;
    .btn-operator{
        background-color: orange;
        font-size: 35px;
        color: white;
        font-weight: bold;
        border-radius: .5rem;
        cursor: pointer;
        transition: background-color .4s ease-out;
    }
    .btn-operator:hover{
        background-color: orangered;
    }
    .btn-num{
        font-size: 35px;
        font-weight: bold;
        border-radius: .5rem;
        background-color: white;
        cursor: pointer;
        transition: background-color .4s ease-out;
    }
    .btn-num:hover{
        background-color: crimson;
    }
    .btn-eqal{
        font-size: 35px;
        font-weight: bold;
        border-radius: .5rem;
        background-color: lightgreen;
        cursor: pointer;
        transition: background-color .4s ease-out;
    }
    .btn-eqal:hover{
        background-color: green;
    }
}