.counter-contrainer{
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: .5rem;
    background-color: rgb(217, 210, 210);
    /* width: 16rem; */
}
.title{
    color: red;
    font-size: 24px;
}
.value{
    font-size: xx-large;
    font-weight: bold;
    margin: 0 10px;
}
.btn{
    /* width: 3rem; */
    /* margin: 0 5px; */
    border-radius: 5px;
}